<div>
  <form class="mb-4" (submit)="hobbyService.addHobby()">
    <div class="input-group">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="New hobby..."
        name="hobby"
        [(ngModel)]="hobbyService.newHobby">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" [disabled]="hobbyService.isAddingHobby">
          Add 
          <span [hidden]="!hobbyService.isAddingHobby">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </button>
      </div>
    </div>
  </form>

  <h3>My hobbies</h3>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let hobby of hobbyService.hobbies">
      {{ hobby.hobby }}
      <a
        routerLink=""
        class="text-danger float-right"
        (click)="hobbyService.deleteHobby(hobby._id)">
        [delete]
      </a>
    </li>
  </ul>
</div>