<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">HobbyApp</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="navbarCollapsed = !navbarCollapsed">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="authService.isAuth()">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuth()">
        <a class="nav-link" routerLink="/auth">Login/Register</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuth()">
        <a class="nav-link" routerLink="" (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>