<div class="row">
  <div class="col-md-6">
    <h3>Login</h3>

    <div class="alert alert-danger" *ngIf="authService.hasLoginErrors">
      {{ authService.loginErrorMessage }}
    </div>

    <form (ngSubmit)="authService.login()">
      <div class="form-group">
        <input
          type="email"
          class="form-control" 
          placeholder="Email"
          name="email"
          [(ngModel)]="authService.loginEmail">
      </div>

      <div class="form-group">
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="authService.loginPassword">
      </div>
      
      <button type="submit" class="btn btn-info" [disabled]="authService.isLoggingIn">
        Login 
        <span [hidden]="!authService.isLoggingIn">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </button>
    </form>
  </div>

  <div class="col-md-6">
    <h3>Register</h3>

    <div class="alert alert-danger" *ngIf="authService.hasRegistrationErrors">
      {{ authService.registerErrorMessage }}
    </div>

    <div class="alert alert-success" *ngIf="authService.hasRegistered">
      Registration successful! Use your email and password to login.
    </div>

    <form (ngSubmit)="authService.register()">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          name="name"
          [(ngModel)]="authService.registerName"
          required>
      </div>

      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          [(ngModel)]="authService.registerEmail"
          required>
      </div>

      <div class="form-group">
        <input
          type="tel"
          class="form-control"
          placeholder="Phone"
          name="phone"
          [(ngModel)]="authService.registerPhone"
          required>
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          [(ngModel)]="authService.registerPassword"
          required>
      </div>
      
      <button type="submit" class="btn btn-success" [disabled]="authService.isRegistering">
        Register
        <span [hidden]="!authService.isRegistering">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </button>
    </form>
  </div>
</div>